<div class="container-fluid font1" style="background-color:rgb(240, 240, 240)">
  
       <div class="container" style="background-color: white;">
        <div class="row" >
           
            <div class="col-lg-4 col-sm-5">
                <div class="contactinformation mt-3 ps-3 ms-3" >
                  <div>
                   <p class="pt-2" >Contact Information</p>
                   <p style="opacity: 0.8; word-spacing:-2px;">Fill up the form and our Team will get back <br> to you within 24 hours.</p>
                  </div>
                  <div class="mobilenumber mb-2">
                   <div class="logo">
                       <fa-icon  class="faMobile pt-3 " [icon]="faMobile"></fa-icon>
                   </div>
                   <div class="number ps-3 pt-1">
                       <p>+91 98765 43210</p>
                   </div>
                  </div>
                  <div class="mobilenumber mb-2">
                   <div class="logo">
                       <fa-icon  class="faMobile pt-3 " [icon]="faEnvelope"></fa-icon>
                   </div>
                   <div class="number ps-3 pt-1">
                       <p>domain@paypal.com</p>
                   </div>
                  </div>
                  <div class="mobilenumber mb-2">
                   <div class="logo">
                       <fa-icon  class="faMobile pt-3 " [icon]="faCodeMerge"></fa-icon>
                   </div>
                   <div class="number ps-3 pt-1">
                       <p>https://paypal.com</p>
                   </div>
                  </div>
                  <div class="mobilenumber">
                   <div class="logo">
                       <fa-icon  class="faMobile pt-3 " [icon]="faLocationPin"></fa-icon>
                   </div>
                   <div class="number ps-3 pt-1">
                       <p>Location</p>
                   </div>
                  </div>
                </div>
               </div>

       
               <div class="col-lg-8 col-sm-7">
                <div class="row mt-4">
                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="allinformation ">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label ">First Name</label>
                                <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-12">
                    <div class="allinformation">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label ">Last Name</label>
                            <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-12">
                <div class="allinformation">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Mail</label>
                        <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12">
            <div class="allinformation">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
        </div>
    </div>
           
        </div>
        <div class="row">
            <div class="col-12">
                <div class="textarea">
                    <label for="exampleInputEmail1" class="form-label">Message</label>
                    <div class="textbox">
                        <p class="pt-3 ps-3"> Write Your Message.....</p>

                    </div>
                </div>
            </div>
            <div class="text-end mt-3">
                <button class="btn btn-primary" style="border-radius: 12px;" data-bs-toggle="modal" data-bs-target="#exampleModal">Get a Quote</button>
            </div>
        </div>
    </div>

</div>
       </div>




</div>


  
  <!-- Modal -->
  <div class="modal font1 fade designmodel" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
           <div class="image text-center">
            <img src="../../../assets/images/Group.png" class="img-fluid" alt="..." style="width: 100px;">
           </div>
           <div class="detail">
            <p style="opacity: 0.7;">Are you Sure you want to cancel this order.
                After Cancel this order you have 2 Warnings 
                left  after your account will Blocked</p>
           </div>
           <div class="button">
            <div class="button">yes</div>
            <div class="button">no</div>
           </div>
        </div>
        
      </div>
    </div>
  </div>



  <!-- .....................................footer -......................................-->
<div class="container-fluid " style="background-color: rgb(18, 18, 60);margin-top: 110px;" >
    <div class="row">
      <div class="col-6">
        <div class="image mt-4 ms-4">
          <img src="../../../assets/images/Group.png" alt="">
        </div>
        <div class="cgarcterimage" style="width: 250px;">
        <p style="color: white;" class="ps-3 mt-3">  Lorem ipsum dolor sit amet tetur adipisicing elit. Laborum ipsam minus quam repellendus, iure tempora ab quidem dolores beat Molli minus similique quas ullam. Dicta rerum porro.</p>
        </div>
      </div>
    
      <div class="col-2">
        <div class="about mt-5" style="color: white;">
          <p style="font-weight: bold;">About</p>
          <p>How It Works</p>
          <p>Term And Condation</p>
          <p>PrivicyPolicy</p>
          <p>ABoutUs</p>
        </div>
      </div>
      <div class="col-2">
        <div class="about mt-5" style="color: white;">
          <p style="font-weight: bold;">ImportantsLinks</p>
          <p>VihicleListing</p>
          <p>ContactUs</p>
          
        </div>
      </div>
      <div class="col-2">
        <div class="about mt-5" style="color: white;">
          <p style="font-weight: bold;">Social</p>
          <p>FaceBook</p>
          <p>Twitter</p>
          <p>Instagram </p>
          
        </div>
      </div>
    </div>
  <div style="height: 1px;background-color: white;"></div>
   <div class="row">
    <div class="col-12">
      <p style="color: white;margin-top: 11px;">©2023 CharterCar. All rights reserved</p>
    </div>
   </div>
   
    </div>
  
