.container{
    background-color: white;
    
    border-radius: 6px;    
    }
    .contactinformation{
    height: 440px;
    background: rgba(53, 99, 233, 1);
 
  
    border-radius: 7px;
    color: white;
    }
    .mobilenumber{
    display: flex;
    
    }
    .logo{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: white;  
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .faMobile{
    color: black; 
    margin-top: -14px;
    }
    .input{
        background: rgba(246, 247, 249, 1);

    }
    .textbox{
        background: rgba(246, 247, 249, 1);

        width: auto;
        height: 170px;
        border-radius: 6px; 
    }
    /* ....................design model */
    .designmodel{
    width: 250px;
    
    
    
    left: 42%;   
    
    }
    
    .button{
    display: flex;
    justify-content: space-between;    
    }
    
    

    .font1{
        font-family: 'Jakarta Sans', sans-serif;
        /* Add other styles as needed */
    }