<div class="container-fluid pooins">
    <div class="row">
        <div class="col-6">
            <div class="image">
                <img src="../../../assets/images/Cover.png" class="img-fluid" alt="..." >
            </div>
        </div>
        <div class="col-6">
            <div class="otpmaindiv mt-5">
                <div class="coverimage text-center">
                    <img src="../../../assets/images/Group.png" alt="" style="width: 95px;">
                </div>
                <div class="text-center mt-4">
                    <p style="font-weight: bold;">OTP Verification</p>
                    <p style="font-size: 10px;font-weight: bold;opacity: 0.6;margin-top: -10px;">Please Enter the OTP code we have send to your <br> Registered email</p>
                   
                </div>
             <div class="otpcode mt-1 text-center">
                <div class="otp mx-1"> 5</div>
                <div class="otp mx-1"> 5</div>
                <div class="otp mx-1"> 5</div>
                <div class="otp mx-1"> 5</div>
                <div class="otp mx-1"> 5</div>
                <div class="otp mx-1"> 5</div>
             </div>
             <div class="time text-center mt-1">
                <p >0:59</p>
             </div>
             <div class="button text-center">
                <button class="btn btn-primary" style="width: 270px;opacity: 0.8;" routerLink="/confirmpassword">Continue</button> 
                <p class="mt-2" style="color: rgba(51, 51, 51, 1);">Resend</p>
             </div>
             
            </div>
        </div>
    </div>
</div>
