<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="iamge text-center">
                <img src="../../../assets/images/banner lambo 1.png" class="img-fluid mt-5 mb-5" alt="..." style="width: 1000px;height: 400px;">
            </div>
        </div>
    </div>
</div>

<!-- ....................mid image  container.................................. -->

<div class="container-fluid" style="background-color:rgba(246, 247, 249, 1);">
    <div class="container" >
        <div class="row">
         <div class="col-lg-6 col-sm-12">
           <div class="groupimage mt-5">
             <img src="../../../assets/images/Rectangle 15.png" class=" img-fluid imagefrp1">
             <img src="../../../assets/images/Rectangle 16.png" class=" img-fluid imagefrp2"  >
             <img src="../../../assets/images/2021_mercedes-benz_classe-c_cabriolet_amg-c-63-s_014_149 1.png" class=" img-fluid imagefrp3" style="width: 518px;height: 284px;">
           </div>
         </div>
         <div class="col-lg-6 col-sm-12">
           <div class="" style="padding-left: 160px;padding-top: 150px">
             <p style="font-weight: bold;padding-top: 85px;font-size: 39px;color: rgba(0, 0, 0, 1);"  class="pooins">Rent a Car</p>
             <p style="line-height: 17px;margin-top: -14px;color: rgba(0, 0, 0, 0.6);" class="pooins"> We pride our in always going the <br>
                extra mile for our customers.</p>
           </div>
         </div>
        </div>
  </div>
  <!-- .........................card.......................... -->

  <div class="container-fluid" style="background-color:rgba(246, 247, 249, 1);">
    <div class="row mt-5">
      <div class="col-12">
        <div class="d-flex cardtop">
          <p style="font-family: 'Plus Jakarta Sans', sans-serif;color:rgba(144, 163, 191, 1);word-spacing: -1;">Popular car</p>
          <p style="color: rgba(53, 99, 233, 1);">View All</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card mt-5">
          <div class="title pt-2 ps-3">
              <p  class="font1 " style="color: rgba(26, 32, 44, 1);font-weight: bold;">Swift</p>
              <fa-icon  class="heart font1" [icon]="faHeart"  style="font-weight: bold;padding-top: -12px;"></fa-icon>
          </div>
          <div class="catogry ps-3" style="margin-top: -18px">
            <p class="carcatogry font1" style="color:rgba(144, 163, 191, 1);">Sport</p>
          </div>
          <div class="cardimage text-center mt-4">
            <img src="../../../assets/images/car.png" class="card-img-top" alt="..." style="width: 230px;">
          </div>
          <div class="card-body mt-4">
           <div class="threeitems">
             <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
             <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
             <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
           </div>
        </div>
         <div class="cardetail mb-3" style="color: rgba(26, 32, 44, 1);">
             <div class="ps-2"><p><span>pkr.</span><span class="carprice">4000/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
             <button class="btn pe-3" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;margin-right: 15px;">Rent Now</button>
           </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card mt-5">
          <div class="title pt-2">
             <p  class="font1 " style="color: rgba(26, 32, 44, 1);font-weight: bold;">Swift</p>
              <fa-icon  class="heart font1" [icon]="faHeart"  style="font-weight: bold;padding-top: -12px;"></fa-icon>
          </div>
          <div class="catogry ps-3" style="margin-top: -18px">
            <p class="carcatogry font1" style="color:rgba(144, 163, 191, 1);">Sport</p>
          </div>
          <div class="cardimage text-center mt-3">
            <img src="../../../assets/images/car (1).png" class="card-img-top" alt="..." style="width: 230px;">
          </div>
          <div class="card-body mt-4">
           <div class="threeitems">
             <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
             <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
             <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
           </div>
        </div>
         <div class="cardetail mb-3" style="color: rgba(26, 32, 44, 1);">
             <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
             <button class="btn pe-3" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;margin-right: 15px;">Rent Now</button>
           </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card mt-5">
          <div class="title pt-2">
              <p  class="font1" style="color: rgba(26, 32, 44, 1);font-weight: bold;">Swift</p>
              <fa-icon  class="heart font1" [icon]="faHeart"  style="font-weight: bold;padding-top: -12px;"></fa-icon>
          </div>
          <div class="catogry ps-3" style="margin-top: -18px">
            <p class="carcatogry font1" style="color:rgba(144, 163, 191, 1);">Sedan</p>
          </div>
          <div class="cardimage text-center">
            <img src="../../../assets/images/Car (2).png" class="card-img-top" alt="..." style="width: 230px;padding-top: 45px;">
          </div>
          <div class="card-body mt-3">
           <div class="threeitems">
             <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
             <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
             <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
           </div>
        </div>
         <div class="cardetail mb-3" style="color: rgba(26, 32, 44, 1);">
             <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
             <button class="btn pe-3" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;margin-right: 15px;">Rent Now</button>
         </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card mt-5">
          <div class="title pt-2">
              <p  class="font1" style="color: rgba(26, 32, 44, 1);font-weight: bold;">Swift</p>
              <fa-icon  class="heart font1" [icon]="faHeart"  style="font-weight: bold;padding-top: -12px;"></fa-icon>
          </div>
          <div class="catogry ps-3" style="margin-top: -18px">
            <p class="carcatogry font1" style="color:rgba(144, 163, 191, 1);">Sport</p>
          </div>
          <div class="cardimage text-center">
            <img src="../../../assets/images/Car (4).png" class="card-img-top" alt="..." style="width: 230px;padding-top: 45px;">
          </div>
          <div class="card-body mt-5">
           <div class="threeitems">
             <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
             <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
             <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
           </div>
        </div>
         <div class="cardetail mb-3" style="color: rgba(26, 32, 44, 1);">
             <div class="ps-2"><p><span>pkr.</span><span class="carprice">3000/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
             <button class="btn pe-3" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;margin-right: 15px;">Rent Now</button>
           </div>
        </div>
      </div>
    </div>
    
    
    </div>

    <div class="container" style="background-color: white;margin-top: 5em;" >
     <div class="row">
      <div class="col-12">
        
      <div class="row">
        <div class="col-12">
          <div class="text-center mt-5">
           <h1 style="font-weight: bolder;"> Fell the best experience with our luxury cars </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="text-center mt-5">
            <img src="../../../assets/images/Vector.png" class="vectorimage" alt="">
            <img class="vectorimagegrp" src="../../../assets/images/Vector (2).png" alt="">
          </div>
          <div class="text-center mt-3">
            <p  style="font-weight: bold;color:rgba(53, 99, 233, 1);;opacity: 0.8;font-family: 'Jakarta Sans', sans-serif;">Book with flexibility</p>
            <p>Lorem ipsum dolor,  nostrum <br> quasi, error dign .</p>
            
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="text-center mt-5">
            <img src="../../../assets/images/Vector.png" class="vectorimage" alt="">
           <img class="vectorimagegrp" src="../../../assets/images/Vector (3).png" alt="">
            <p></p>
          </div>
          <div class="text-center mt-3">
            <p style="font-weight: bold;color:rgba(53, 99, 233, 1);;opacity: 0.8;font-family: 'Jakarta Sans', sans-serif;">Trusted and free</p>
    
            <p>Lorem ipsum dolor, sit  gghghg nostrum <br> quasi, error dign .</p>
            
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="text-center mt-5">
            <img src="../../../assets/images/Vector.png" class="vectorimage" alt="">
            <img class="vectorimagegrp" src="../../../assets/images/Vector (4).png" alt="">
          </div>
          <div class="text-center mt-3">
            <p style="font-weight: bold;color:rgba(53, 99, 233, 1);;opacity: 0.8;font-family: 'Jakarta Sans', sans-serif;">We know travel</p>
            <p>Lorem ipsum dolor, s nostrum gffh hghgre  <br> quasi, error dign .</p>
            
          </div>
        </div>
      </div>
      </div>
     </div>
    </div>

    <!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->
    <div class="container drivercontainer pooins font1">
      <div class="row">
        <div class="col-12">
         <b><p class="mt-3 pooins" style="color: white;">Become a driver </p></b>
         <b><p style="color: white; margin-top: -9px;" class="pooins">Your TimeS. Your GoalS. You are The <br> Boss.</p></b>
        </div>
      </div>
      <div class="row">
        <div><p style="padding-top: 100px;color: white;" class="pooins">Subscribe And Join Us</p></div>
      </div>
      <div class="d-flex">
        <input class="form-control nextinput" type="text" >
        <button class="btn btn-primary nextbutton">Next</button>
      </div>
    </div>
   <!-- footer....................................... -->
   <div class="container-fluid pooins " style="background: rgba(8, 22, 48, 1);margin-top: 110px;" >
    <div class="row">
      <div class="col-6">
        <div class="image mt-4 ms-4">
          <img src="../../../assets/images/Group (2).png" alt="" style="width: 150px;height: 33px;">
          </div>
          <p style="color: white;margin-top:-86px;margin-left: 58px;">CharterarecCar</p>
        <div class="cgarcterimage" style="width: 250px;">
        <p style="color: white;" class="ps-3 mt-3 pooins">  Lorem ipsum dolor sit amet tetur adipisicing elit. Laborum ipsam minus quam repellendus, iure tempora ab quidem dolores beat Molli minus similique quas </p>
        </div>
      </div>
    
      <div class="col-2">
        <div class="about mt-5 pooins" style="color: white;">
          <p style="font-weight: bold;">About</p>
          <p>How It Works</p>
          <p>TermAndCondan</p>
          <p>PrivicyPolicy</p>
          <p>ABoutUs</p>
        </div>
      </div>

      <div class="col-2">
        <div class="about mt-5 pooins" style="color: white;">
          <p style="font-weight: bold;">ImportantsLinks</p>
          <p >VihicleListing</p>
          <p>ContactUs</p>
          
        </div>
      </div>
      <div class="col-2">
        <div class="about mt-5" style="color: white;">
          <p style="font-weight: bold;">Social</p>
          <p class="pooins">FaceBook</p>
          <p class="pooins">Twitter</p>
          <p class="pooins">Instagram </p>
          
        </div>
      </div>
   </div>
   <div class="mt-5" style="height: 1px;background-color: white;"></div>
 <div class="row">
  <div class="col-12">
    <p style="color: white;margin-top: 11px;" class="ps-4 pooins">©2023 CharterCar. All rights reserved</p>
  </div>
 </div>
  </div>
    
     
    




