<div class="container-fluid pooins" style="background-color:rgba(246, 247, 249, 1);">
    <div class="container-fluid" >
      <div class="row">
          <div class="col-lg-8 col-md-7 col-6">
              <div class="maskgroupimage mt-2">
                  <img src="../../../assets/images/Mask group (1).png" class="img-fluid" alt="...">
              </div> 
              <div class="allmaskgroupimage mt-3">
                  <div class="coverimage"><img src="../../../assets/images/View 3 (1).png" class="img-fluid" alt="..."> </div>
                  <div class="coverimage"><img src="../../../assets/images/View 3 (2).png" class="img-fluid" alt="..."></div>
                  <div class="coverimage"><img src="../../../assets/images/View 3.png" class="img-fluid" alt="..."></div>
                  <div class="coverimage"><img src="../../../assets/images/View 4.png" class="img-fluid" alt="..."></div>
                  <div class="coverimage"><img src="../../../assets/images/View 5.png" class="img-fluid" alt="..."></div>
              </div>
  
          </div>
          <div class="col-lg-4 col-md-5 col-6" style="height: 508px;">
              <div class="CARALLDETAIL mt-2">
                  <div class="carname ps-3 pt-2">
                      <p style="font-weight: bold;font-size: 19px;">Nissan GT-R</p>
                      <fa-icon  class="heart pe-3" [icon]="faHeart" style="color: red;"></fa-icon>
                  </div>
                  <div class="stars ps-3">
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar" ></fa-icon>
                      <span>440+Reviewer</span>
                  </div>
                  <div class="detail mt-3 ps-3">
                      <p>NISMO has become the embodiment of Nissan's outstanding performance, inspired by the most unforgiving proving ground, the "race track".</p>
                  </div>
                  <div class="capicity mt-5">
                      <div class="d-flex">
                          <p class="ps-3" style="opacity: 0.6;">TypeCar</p> &nbsp;
                          <p class="ps-2" style="font-weight: bold;">Sport</p>
                      </div>  &nbsp;
                      <div class="d-flex">
                          <p class="pe-5" style="opacity: 0.6;">Capicity</p>
                          <p class="pe-2" style="font-weight: bold;">2Person</p>
                      </div> 
                      
                  </div>
                  <div class="capicity">
                      <div class="d-flex">
                          <p class="ps-3 " style="opacity: 0.6;">Steering</p>
                          <p class="ps-3" style="font-weight: bold;">Manual</p>
                      </div> 
                      <div class="d-flex">
                          <p  style="opacity: 0.6;padding-right: 4em;">Gasoline</p>
                          <p class="pe-3" style="font-weight: bold;"> 70L </p>
                      </div> 
                      
                  </div>
                  <div class="pricedetail mt-3">
                      <p class="ps-3"><span style="font-weight: bold;margin-top: 16px;">$80.00/</span><span style="opacity: 0.6;font-weight: bold;">days</span></p>
                      <button type="button" class="btn btn-primary me-3" routerLink="/pymentrentcar">Rent Now</button>
                  </div>
              </div>
  
          </div>
      </div>
  
      <!-- .............................comment row............................. -->
      <div class="row mt-3" >
        <div class="commentboxdetail ms-2" style="background-color:white;">
          <div class="col-12">
              <div class="currentreviews mt-4">
                  <p>Reviews <span style="background-color: blue;color: white;padding: 4px 16px 4px 16px;border-radius: 6px;opacity: 0.8;">13</span></p>
              </div>
             <div class="row">
              <div class="col-lg-1 col-sm-2">
                <div class="buyerimage">
                  <img src="../../../assets/images/Mask group (1).png" class="img-fluid buyer" alt="..." >
                </div>
              </div>
              <div class="col-lg-11 col-sm-10">
                  <div class="buyername">
                      <div class="name">
                          <p style="font-weight: bold;">Shahzad Ahmad</p>
                      </div>
                      <div class="date">
                          <p style="opacity: 0.8;">21 July 2022</p>
                      </div>
                  </div>
                  <div class="buyerpost" style="margin-top: -17px;">
                   <div>
                      <p style="opacity: 0.8;font-size: 12px;">CEO at Bukalapak</p>
                   </div>
                   <div class="stars">
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar" ></fa-icon>
                   </div>
  
                  </div>
                  <div class="commtview">
                      <p>We are greatly helped by the services of the MORENT Application. Morent has low prices and also a wide variety of cars with good and comfortable facilities. In addition, the service provided by the officers is also very friendly and very polite.</p>
                  </div>
  
  
              </div>
             </div>
             <div class="row">
              <div class="col-lg-1 col-sm-2">
                <div class="buyerimage">
                  <img src="../../../assets/images/Mask group (1).png" class="img-fluid buyer" alt="..." >
                </div>
              </div>
              <div class="col-lg-11 col-sm-10">
                  <div class="buyername">
                      <div class="name">
                          <p style="font-weight: bold;">Shahzad Ahmad</p>
                      </div>
                      <div class="date">
                          <p style="opacity: 0.8;">21 July 2022</p>
                      </div>
                  </div>
                  <div class="buyerpost" style="margin-top: -17px;">
                   <div>
                      <p style="opacity: 0.8;font-size: 12px;">CEO at Bukalapak</p>
                   </div>
                   <div class="stars">
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                      <fa-icon  class="heart pe-1" [icon]="faStar" ></fa-icon>
                   </div>
  
                  </div>
                  <div class="commtview">
                      <p>We are greatly helped by the services of the MORENT Application. Morent has low prices and also a wide variety of cars with good and comfortable facilities. In addition, the service provided by the officers is also very friendly and very polite.</p>
                  </div>
  
  
              </div>
             </div>
             
          </div>
      </div>
        </div>
  </div>
  <!-- -----------------------recent car detail -->
  <div class="container-fluid" style="background-color:rgba(246, 247, 249, 1);">
      <div class="row">
          <div class="vieedetail mt-3">
              <p>Recent Cars</p>
              <p style="color: blue;">View All</p>
          </div>
      </div>
  </div>
  <!-- ............................ -->
  <div class="container-fluid" style="background-color:rgba(246, 247, 249, 1);">
      <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
              <div class="card mt-2">
                  <div class="title">
                     <b> <p class="ps-3 ">Koenigsegg</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 " >Sports</p></b>
                  </div>
                  <div class="cardimage text-center">
                    <img src="../../../assets/images/Car (6).png " class="img-fluid mt-2 carcard1" alt="...">
                  </div>
                  <div class="card-body">
                   <div class="threeitems">
                     <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                     <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                     <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                   </div>
                   
                 </div>
                 <div class="CarPrice mt-3">
                    <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
                 </div>
           
                </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
              <div class="card mt-2">
                  <div class="title">
                     <b> <p class="ps-3 ">Nissan GT - R</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">Sports</p></b>
                  </div>
                  <div class="cardimage text-center ">
                    <img src="../../../assets/images/Car (7).png" class="img-fluid mt-2 carcard1" alt="...">
                  </div>
                  <div class="card-body mt-2">
                   <div class="threeitems">
                     <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                     <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                     <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                   </div>
                   
                 </div>
                 <div class="CarPrice mt-3">
                    <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
                 </div>
           
                </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
              <div class="card mt-2">
                  <div class="title">
                     <b> <p class="ps-3 ">Rolls-Royce</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">Sports</p></b>
                  </div>
                  <div class="cardimage text-center">
                    <img src="../../../assets/images/Car (8).png" class="img-fluid mt-2 carcard1" alt="...">
                  </div>
                  <div class="card-body mt-2">
                   <div class="threeitems">
                     <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                     <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                     <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                   </div>
                   
                 </div>
                 <div class="CarPrice mt-3">
                    <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
                 </div>
           
                </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
              <div class="card mt-2">
                  <div class="title">
                     <b> <p class="ps-3 ">Rolls-Royce</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">Sports</p></b>
                  </div>
                  <div class="cardimage text-center">
                    <img src="../../../assets/images/Car (9).png" class="img-fluid mt-2 carcard1" alt="...">
                  </div>
                  <div class="card-body">
                   <div class="threeitems">
                     <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                     <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                     <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                   </div>
                   
                 </div>
                 <div class="CarPrice mt-3">
                    <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
                 </div>
           
                </div>
          </div>
          
      </div>
  </div>
  



  <!-- ................ -->
  <div class="container-fluid" style="background-color:rgba(246, 247, 249, 1);">
      <div class="row">
          <div class="vieedetail mt-3">
              <p>Recomendation Cars</p>
              <p style="color: blue;">View All</p>
          </div>
      </div>
  </div>
  <!-- '''''''''''''''''''''' -->
  <div class="container-fluid" style="background-color:rgba(246, 247, 249, 1);">
      <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
              <div class="card mt-2">
                  <div class="title">
                     <b> <p class="ps-3 ">All New Rush</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">SUV</p></b>
                  </div>
                  <div class="cardimage text-center ">
                    <img src="../../../assets/images/Car (10).png" class="img-fluid cardimage2 mt-2" alt="...">
                  </div>
                  <div class="card-body mt-5">
                   <div class="threeitems">
                     <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                     <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                     <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                   </div>
                   
                 </div>
                 <div class="CarPrice mt-3">
                    <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
                 </div>
           
                </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
              <div class="card mt-2">
                  <div class="title">
                     <b> <p class="ps-3 ">CR  - V</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">SUV</p></b>
                  </div>
                  <div class="cardimage text-center ">
                    <img src="../../../assets/images/Car (11).png" class="img-fluid cardimage2 mt-2" alt="...">
                  </div>
                  <div class="card-body mt-5">
                   <div class="threeitems">
                     <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                     <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                     <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                   </div>
                   
                 </div>
                 <div class="CarPrice mt-3">
                    <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
                 </div>
           
                </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
            <div class="card mt-2">
                <div class="title">
                   <b> <p class="ps-3 ">All New Terios</p></b>
                   <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                </div>
                <div class="catogry">
                  <b><p class="carcatogry ps-3 ">SUV</b>
                </div>
                <div class="cardimage text-center ">
                  <img src="../../../assets/images/Car (12).png" class="img-fluid mt-2 pt-1 cardimage2" alt="...">
                </div>
                <div class="card-body mt-5">
                 <div class="threeitems">
                   <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                   <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                   <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                 </div>
                 
               </div>
               <div class="CarPrice mt-3">
                <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
             </div>
         
              </div>
        </div>
          <div class="col-lg-3 col-md-4 col-sm-6  col-12" >
              <div class="card mt-2">
                  <div class="title">
                     <b> <p class="ps-3 ">All New Terios</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">SUV</p></b>
                  </div>
                  <div class=" text-center ">
                    <img src="../../../assets/images/Car (13).png " class="img-fluid mt-2 cardimage2" alt="...">
                  </div>
                  <div class="card-body mt-5">
                   <div class="threeitems">
                     <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                     <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                     <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                   </div>
                   
                 </div>

                 <div class="CarPrice mt-3">
                    <div class="ps-2"><p><span>pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <button class="btn rentnowbutton" style="background: rgba(53, 99, 233, 1);color: white;  font-family: 'Jakarta Sans', sans-serif;">Rent Now</button>
                 </div>
                
                </div>
          </div>
          
      </div>
  </div>
  </div>
