<div class="container-fluid pooins">
    <div class="row">
        <div class="col-6">
            <div class="image">
                <img src="../../../assets/images/Cover.png" class="img-fluid" alt="..." >
            </div>
        </div>
       
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="forgotgmail">
                    <div class="image text-center mt-5">
                        <img src="../../../assets/images/Group.png" alt="">
                    </div>
                    <div class="text-center mt-5">
                        <p style="font-weight:bold;font-size: 22px;">Forgot your Acount</p>
                        <p style="font-size: 11px;margin-top: -15px;font-weight: bold;opacity: 0.5;">Please enter your registered email</p>
                    </div>
                    <div class="input">
                       
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                    
                    </div>
                    <div class="continuebutton mt-4">
                        <button class="btn btn-primary continuebutton" routerLink="/otpverification">Continue</button>
                    </div>
                </div>
               </div>
       
    </div>
</div>
