<div class="container-fluid pooins">
    <div class="row">
        <div class="col-6">
            <div class="image">
                <img src="../../../assets/images/Cover.png" class="img-fluid" alt="..." >
            </div>
        </div>

        <div class="col-6">
            <div class="confirmpassword mt-5">
                <div class="image text-center mt-4">
                    <img src="../../../assets/images/Group.png" alt="">
                </div>
                <div class="text-center mt-3">
                    <p style="font-weight: bolder;">Creat New Password</p>
                    <p style="font-weight: bold;font-size: 11px;margin-top: -15px;opacity: 0.7;">Please Enter Your Password and Confirm Password</p>
                </div>
                <div class="inputs">
                    <form action="">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;font-size: 13px;">Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;font-size: 13px;"> Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Confirmed Password">
                        </div>
                       <div class="comtinuebutton text-center mt-2">
                        <button class="btn btn-primary mt-2" style="width: 100%;" >Continue</button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
