.pooins{
    font-family: 'Poppins', sans-serif;
  }
  .confirmpassword{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
   
   
}

@media (max-width: 992px) {
    .confirmpassword{
        width: 450px;
        height: 400px;
        position: relative;
        top: 30px;
        left: 25%;
    }
}

@media (max-width: 768px) {
    .confirmpassword{
        width: 450px;
        height: 400px;
        position: relative;
        top: 30px;
        left: 17%;
    }
}
@media (max-width: 577px) {
    .confirmpassword{
        width: 450px;
        height: 400px;
        position: relative;
        top: 30px;
        left: 10%;
    }
}
@media (max-width: 530px) {
    .confirmpassword{
        width: 450px;
        height: 400px;
        position: relative;
        top: 30px;
        left: 4%;
    }
}