<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-4">
                    <p style="font-weight: bold;">History</p>
                    <p style="margin-top: -15px;opacity: 0.8;">Here you can see the history of rent cars that you used</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
             <div class="card">
            <div class="row">
                <div class="col-4">
                    <div class="carcompany d-flex">
                        <p class="mx-3 fw-bold">Nissan GT-R</p>
                        <P>Sports</P>
                    </div>
                    <div class="image">
                        <img class="ps-3" src="../../../assets/images/car (5).png" alt="" style="width: 140px;">
                    </div>
                    <div class="threeitems">
                        <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>90L</span></div>
                        <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                        <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                      </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
             </div>
            </div>
            <div class="col-6">2</div>
        </div>
    </div>
</div>
  


