<div class="container-fluid" style="background-color:rgba(246, 247, 249, 1);">
   
    <div class="profiledetailcontainer">
        <div class="row">
            <div class="col-10" >
                <div class="imagecontainer mt-2">
                   <div class="row">
                    <div class="uploadimage mt-3">
                        <img src="../../../assets/images/imran khan.webp" class="img-fluid mx-3" alt="..." style="width: 60px;height: 60px;border-radius: 50%;">
                        <button class="btn mt-4" style="height: 40px;background: rgba(53, 99, 233, 1);color: white; ">Upload Image</button>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-4 ">
                        <div class="mb-3 ps-3">
                            <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Shahzad">
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Shahzadahmad@gmail.com">
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 pe-2">
                            <label for="exampleFormControlInput1" class="form-label">Phone</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="12344567789">
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 ps-2">
                            <label for="exampleFormControlInput1" class="form-label">Post Code</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Cb44364h">
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="RY Khan">
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 pe-2">
                            <label for="exampleFormControlInput1" class="form-label">Gender</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Male">
                          </div>
                    </div>
                   </div>
    
                   
                </div>
            </div>
            <div class="col-2" >
                <div class="button mt-3" >
                    <button class="btn " style="background: rgba(52, 168, 83, 1);color: white;">Save Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- driving licence  -->
   <div class="drivinglicence mt-5" >
    <div class="row">
        <div class="col-4 ">
            <div class="mb-3 ps-3">
                <label for="exampleFormControlInput1" class="form-label">Driving Licence</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
        </div>
        <div class="col-4">
            <label for="exampleFormControlInput1" class="form-label">Car Licence Back Image</label>
            <div class="uploaadimage">
              <div class="div">
                <p class="ps-5 pe-5 pt-3" style="background: rgba(246, 247, 249, 1);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quidem voluptates sed qu</p>
              </div>
            </div>

        </div>
        <div class="col-4">
           <div class="pe-2">
            <label for="exampleFormControlInput1" class="form-label">Car Licence Back Image</label>
            <div class="uploaadimage">
              <div class="div">
                <p class="ps-5 pe-5 pt-3" style="     background: rgba(246, 247, 249, 1);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quidem voluptates sed qu</p>
              </div>
            </div>
           </div>

        </div>
    </div>
   </div>

</div>

