<div class="container-fluid font1" style=" background: rgba(246, 247, 249, 1);">
    <div class="container-fluid maincontainer mt-3" >
      <div class="row">
          <div class="col-12">
              <div class="favourite mb-3">
                  <p class="fw-bold pt-3 ps-2">Favourite</p>
              </div>
          </div>
      </div>
  
      <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card mt-2">
                  <div class="title pt-2">
                     <b> <p class="ps-3">Swift</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">Sports</p></b>
                  </div>
                  <div class="cardimage text-center pt-3">
                    <img src="../../../assets/images/car (5).png" class="img-fluid pt-2" alt="...">
                  </div>
                  <div class="card-body mt-2">
                    <div class="threeitems">
                      <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>80L</span></div>
                      <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                      <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                    </div>
                 </div>
                 <div class="card-body mt-1">
                  <div class="cardetail">
                    <div><p><span style="font-size: 14px;">pkr.</span><span class="carprice">4000/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <div><button class="btn btn-primary">Rent Now</button></div>
                  </div>
                 </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card mt-2">
                  <div class="title pt-2">
                     <b> <p class="ps-3">Wagon-R</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">Sports</p></b>
                  </div>
                  <div class="cardimage text-center">
                    <img src="../../../assets/images/car (1).png" class="img-fluid mt-2" alt="...">
                  </div>
                  <div class="card-body mt-2">
                    <div class="threeitems">
                      <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>80L</span></div>
                      <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                      <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                    </div>
                 </div>
                 <div class="card-body mt-1">
                  <div class="cardetail">
                    <div><p><span style="font-size: 14px;">pkr.</span><span class="carprice">3500/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <div><button class="btn btn-primary">Rent Now</button></div>
                  </div>
                 </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="card mt-2 mb-2">
                  <div class="title pt-2">
                     <b> <p class="ps-3 ">Rolls - Royce</p></b>
                     <fa-icon  class="heart pe-3" [icon]="faHeart"></fa-icon>
                  </div>
                  <div class="catogry">
                    <b><p class="carcatogry ps-3 ">Sports</p></b>
                  </div>
                  <div class="cardimage text-center">
                    <img src="../../../assets/images/Car (2).png" class="img-fluid mt-2 pt-4" alt="...">
                  </div>
                  <div class="card-body mt-2">
                    <div class="threeitems">
                      <div><fa-icon  class="train " [icon]="faTrain"></fa-icon><span>80L</span></div>
                      <div><fa-icon  class="train " [icon]="faGear"></fa-icon><span>Manual</span></div>
                      <div><fa-icon  class="train " [icon]="faUser"></fa-icon><span>4People</span></div>
                    </div>
                 </div>
                 <div class="card-body mt-1">
                  <div class="cardetail">
                    <div><p><span style="font-size: 14px;">pkr.</span><span class="carprice">3000/</span><span style="font-weight: bold;opacity: 0.5;">day</span></p></div>
                    <div><button class="btn btn-primary">Rent Now</button></div>
                  </div>
                 </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  
  
  