<div class="container-fluid pooins">
    <div class="row">
        <div class="col-6" >
            <div class="image" style="background: rgba(52, 161, 244, 1);">
                <img src="../../../assets/images/Cover (1).png" class="img-fluid" alt="..." style="height: 800px;">
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10">
           <div class="formfgroupp mt-5">
            <div class="text-center">
                <img src="../../../assets/images/Group.png" alt="" style="width: 100px;">
                <p style="margin-top: 15px;font-weight: bold;">Sign in to your account</p>
                <p style="font-size: 11px;margin-top: -16px;opacity: 0.7;">Welcome! Plz enter your detail</p>
              </div>
              <div class="formgroup">
                  <div class="form">
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Name</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Full Name">
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Phone</label>
                          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Phone Number">
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Password">
                      </div>
                      <div class="signbtton btn btn-primary mt-2" routerLink="/login">Sign In</div>
                      <div class="text-center">
                          <p class="mt-2">Already have an account? <span style="color: rgb(31, 135, 176)" routerLink="/login">Login</span></p>
                      </div>
                      <div class="text-center mb-3">
                          <span style="color: rgb(81, 183, 224);">OR</span>
                      </div>
                  </div>
                  <div class="anothersignin mb-3">
                      <div class="signwithgoggle text-center">
                        <button class="btn" style="width: 100%;background: rgba(249, 249, 249, 1);">
                          <img src="../../../assets/images/googlepng.png " alt="" style="width: 30px;"> <span>Sign In With Google</span>
                        </button>
                      </div>
                  </div>
                      <div class="signwithgoggle text-center mb-3">
                        <button class="btn" style="width: 100%;background: rgba(249, 249, 249, 1);">
                            <img class="ms-3" src="../../../assets/images/faceboo png.png" alt="" style="width: 30px;"> <span>Sign In With Facebook</span>
                          </button>
                        </div>
                        <div class="signwithgoggle text-center">
                          <button class="btn" style="width: 100%;background: rgba(249, 249, 249, 1);">
                            <img src="../../../assets/images/googlepng.png " alt="" style="width: 30px;" > <span>Sign In With Apple</span>
                          </button>
                        </div>
                  
              </div>
           </div>

        </div>
    </div>
</div>
