
<div class="container-fluid" style="   background: rgba(246, 247, 249, 1);">
    <div class="container" >
        <div class="row">
            <!-- ..............................billing information -->
            <div class="col-lg-8 col-md-7 ">
                <div class="billinginformation mt-3 mb-3" style="background-color:white;border-radius: 4px;">
                    <div class="info ms-2">
                        <p style="font-weight: bold;">Billing Info</p>
                    </div>
                    <div class="enterinfo ms-2 me-2">
                        <p style="opacity: 0.7;">Please enter your billing info</p>
                        <p style="opacity: 0.7;">Step 1 of 4</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                         <div class="mb-3 ms-2">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your City">
                        </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 me-2">
                                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                                <input type="number" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Number">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 ms-2">
                                <label for="exampleInputEmail1" class="form-label">Adress</label>
                                <input type="number" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Adress">
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="mb-3 me-2">
                                <label for="exampleInputEmail1" class="form-label"> Town/city </label>
                                <input type="number" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Your town/city">
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- .............................rental information...................... -->
                  <div class="rentalinformation mb-3" style="background-color: white;border-radius: 4px;">
                   <div class="rentalinfo ms-2 ">
                    <p style="font-weight: bold;">Rental info</p>
                   </div>
                   <div class="rentaldate ms-2 me-2">
                    <P>Please Select your rental date</P>
                    <p>Step 2 of 4</p>
                   </div>
                   <div class="pickup ms-2">
                    <input type="radio"> <span style="font-weight: bold;">Pick-Up</span>
                   </div>
                   <div class="pickupare">
                    <div class="row">
                        <div class="col-6">
                         <div class="mb-3 ms-2">
                            <label for="exampleInputEmail1" class="form-label">Location</label>
                            <input type="text" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Select Your City">
                        </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 me-2">
                                <label for="exampleInputEmail1" class="form-label">Date</label>
                                <input type="date" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Date">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 ms-2">
                                <label for="exampleInputEmail1" class="form-label">Time</label>
                                <input type="time" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Time">
                            </div>
                        </div>
                        
                    </div>
                    
                   </div>

                   <div class="dropoff ms-2">
                    <input type="radio"> <span style="font-weight: bold;">Drop-Of</span>
                   </div>
                   <div class="dropofarea">
                    <div class="row">
                        <div class="col-6">
                         <div class="mb-3 ms-2">
                            <label for="exampleInputEmail1" class="form-label">Location</label>
                            <input type="text" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Select Your City">
                        </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 me-2">
                                <label for="exampleInputEmail1" class="form-label">Date</label>
                                <input type="date" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Date">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 ms-2">
                                <label for="exampleInputEmail1" class="form-label">Time</label>
                                <input type="time" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Time">
                            </div>
                        </div>
                        
                    </div>
                    
                   </div>
                   

                  </div>
                  <!-- ...............................pyment method............................. -->
                  <div class="pymentmethod mt-3 " style="background-color: white;border-radius: 4px;">
                    <div class="pymentmethod1 ">
                     <div class="method1 ms-2">
                        <p style="font-weight: bold;">Payment Method</p>
                     </div>
                     <div class="selectpymentmethod ms-2 me-2">
                        <p>Please Select Your PaymetMethod</p>
                        <p>Step 3 OF 4</p>
                     </div>
                    <div class="carddetail ms-3 me-3 " >
                        <div class="buycrediccard  ms-2 me-2">
                            <p class="mt-2" style="font-weight: bold;">Credit Card</p>
                            <img  src="../../../assets/images/Visa.png" class="img-fluid mt-2" alt="..." style="height: 15px;">
                         </div>
                         <div class="row">
                            <div class="col-6">
                                <div class="mb-3 ms-2">
                                    <label for="exampleInputEmail1" class="form-label">Card Number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Card Number">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3 ms-2 me-2">
                                    <label for="exampleInputEmail1" class="form-label">Expression Date</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="DD/MM/YY">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3 ms-2">
                                    <label for="exampleInputEmail1" class="form-label">Card Holder</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Card Holder">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3 ms-2 me-2">
                                    <label for="exampleInputEmail1" class="form-label">CVC</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="CVC">
                                </div>
                            </div>
                         </div>
                        
                         
                    </div>
                   
                        
                            <div class="BUYPAYPALMETHOD mt-3 ms-3 me-3">
                                <div>
                                 <input class="ms-2 mx-2" type="radio"><span>By Paypal</span>
                                </div>
                                <img class="me-2" src="../../../assets/images/PayPal.png" alt="" style="height: 16px;">
                              </div>

                              <div class="buybitcoinmethod mt-3  ms-3 me-3">
                                <div>
                                 <input class="ms-2 mx-2" type="radio"><span>By Bitcoin</span>
                                </div>
                                <img class="me-2 " src="../../../assets/images/Bitcoin.png" alt="" style="height: 16px;">
                              </div>
                        
                
                    </div>
                  </div>

                   <!-- ................................conformation CONTAINER -->
<div class="container mt-5 mb-5" style="background-color: white;border-radius: 4px; ">
    <div class="row">
      <div class="conformation" >
        <p style="font-weight: bold;">Conformation</p>
      </div>
      <div class="step4of4">
        <p>We are getting to the end. Just few clicks and your rental is ready!</p>
        <p>Step 4 of 4</p>
      </div>
      <div class="form-check ms-3 mb-3">
        <input class="form-check-input  mx-2" type="checkbox" value="" id="flexCheckDefault">
        <p class="pt-3">I agree with sending an Marketing and newsletter emails. No spam, promissed!</p>
        
      </div>
      <div class="form-check ms-3">
        <input class="form-check-input  mx-2" type="checkbox" value="" id="flexCheckDefault">
        <p class="pt-3">I agree with our terms and conditions and privacy policy.</p>
      </div>
      <div class="button mt-4">
        <button type="button" class="btn btn-primary"  routerLink="/history">Rent Now</button>
      </div>
      <div class="layerpng mt-4">
        <img src="../../../assets/images/Layer.png" class="img-fluid" alt="...">
      </div>
      <div class="datasafe mt-3">
        <p style="font-size: 14px;font-weight: bold;">All your data are safe</p>
        <p style="margin-top: -9px;opacity: 0.7;">We are using the most advanced security to provide you the best experience ever.</p>
      </div>
    </div>
  </div>
            </div>
          

            <div class="col-lg-4 col-md-5">
            <div class="allrentalsummery mt-3">

                <div class="rentalsummery ps-3">
                    <p style="font-weight: bold;">Rental Summary</p>
                    <p style="margin-top: -9px;opacity: 0.7;">Prices may change depending on the length of the rental and the price of your rental car.</p>
                </div>

                <div class="summeryrating">
                   <div class="image">
                    <div class="coverimage ps-2"><img src="../../../assets/images/View 4.png" class="img-fluid" alt="..."></div>
                   </div>
                   <div class="sumrating ps-3">
                    <p style="font-weight: bold;">Nissan GT - R</p>
                    <div style="margin-top: -10px;">
                        <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                        <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                        <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                        <fa-icon  class="heart pe-1" [icon]="faStar"  style="color: rgb(255, 208, 0);"></fa-icon>
                        <fa-icon  class="heart pe-1" [icon]="faStar" ></fa-icon>
                        <span>440+Reviewer</span>
                    </div>
                   </div>
                </div>
                <hr>
                <div class="subtotal ps-2 pe-2">
                    <p style="font-weight: bold;opacity: 0.7;">Subtotall</p>
                    <p style="font-weight: bolder;">$80.00</p>
                </div>
                <div class="tax ps-2 pe-2">
                    <p style="font-weight: bold;opacity: 0.7;">Tax</p>
                    <p style="font-weight: bolder;">0$</p>
                </div>
                <div class="tptalprice ps-2">
                   <div>
                    <p style="font-weight: bold;">Total Rental Price</p>
                    <p style="margin-top: -14px;font-size: 11px;opacity: 0.7;">Overall price and includes rental discount</p>
                   </div>
                   <div>
                    <h2 class="pe-2">$80.00</h2>
                   </div>
                </div>

            </div>
            </div>
        </div>
    </div>

  
    

  </div>


  <!-- .....................................footer -......................................-->
<div class="container-fluid " style="background-color: rgb(18, 18, 60);margin-top: 110px;" >
    <div class="row">
      <div class="col-6">
        <div class="image mt-4 ms-4">
          <img src="../../../assets/images/Group.png" alt="">
        </div>
        <div class="cgarcterimage" style="width: 250px;">
        <p style="color: white;" class="ps-3 mt-3">  Lorem ipsum dolor sit amet tetur adipisicing elit. Laborum ipsam minus quam repellendus, iure tempora ab quidem dolores beat Molli minus similique quas ullam. Dicta rerum porro.</p>
        </div>
      </div>
    
      <div class="col-2">
        <div class="about mt-5" style="color: white;">
          <p style="font-weight: bold;">About</p>
          <p>How It Works</p>
          <p>Term And Condation</p>
          <p>PrivicyPolicy</p>
          <p>ABoutUs</p>
        </div>
      </div>
      <div class="col-2">
        <div class="about mt-5" style="color: white;">
          <p style="font-weight: bold;">ImportantsLinks</p>
          <p>VihicleListing</p>
          <p>ContactUs</p>
          
        </div>
      </div>
      <div class="col-2">
        <div class="about mt-5" style="color: white;">
          <p style="font-weight: bold;">Social</p>
          <p>FaceBook</p>
          <p>Twitter</p>
          <p>Instagram </p>
          
        </div>
      </div>
    </div>
  <div style="height: 1px;background-color: white;"></div>
   <div class="row">
    <div class="col-12">
      <p style="color: white;margin-top: 11px;">©2023 CharterCar. All rights reserved</p>
    </div>
   </div>
   
    </div>
  
